<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cửa hàng rượu - @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MVC_Ruou.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:23px;">Cửa hàng rượu ngoại</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                        </li>
                        @if(ViewBag.ShowWines!=null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Wines" asp-action="Index">Sản phẩm</a>
                            </li>
                        }
                        @if (ViewBag.ShowReceipts!=null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="Index">Nhập kho</a>
                            </li>
                        }
                      
                        @if (ViewBag.ShowOrders!=null)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Orders" asp-action="Index">Quản lý đơn</a>
                            </li>
                        }
                    </ul>
                    @if (ViewBag.ShowLogin != null)
                    {
                        <div>
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index"><button class="btn btn-dark">Đăng nhập</button></a>
                        </div>
                    }

                    @if (ViewBag.ShowLogout != null)
                    {
                        <div class="login-top">
                            <div>ADMIN</div>
                            <div>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">
                                    <button class="btn btn-dark">Đăng xuất</button>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </nav>
    </header>
    
    <div class="banner">
        <h1>@ViewData["banner"]</h1>
    </div>
    <div class="container-xl">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


        <div class="footer-container">
            Pham Dinh Lam&copy; 2024 - MVC_Project 
        </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
