@model MVC_Ruou.Models.CategoryNameViewModel
@{
    ViewData["Title"] = "Trang chủ";
    ViewData["banner"] = "Danh sách rượu";
}
<div>
    <p id="order-btn">
        <a asp-action="Order"><button class="btn btn-primary btn-lg">Đặt hàng</button></a>
    </p>
    <div class="top-div">
        <div class="search-div">
            <form asp-controller="Home" asp-action="Index" method="get" id="search-form">
                <label for="search-form">Tìm kiếm </label>
                <p>
                    Loại rượu:
                    <select asp-for="chosenCategory" asp-items="Model.categoryName">
                        <option value="">All</option>
                    </select>

                    Tên rượu: <input type="text" name="SearchString" />
                    <input type="submit" value="Tìm" />
                </p>
            </form>
        </div>
    </div>

    <div class="container">
        @for (int i = 0; i < (Model.wines.Count() + (3 - Model.wines.Count() % 3)) / 3; i++)
        {
            <div class="wine-container-row row justify-content-around">
                @for (int j = 0; j < 3; j++)
                    if (i * 3 + j < Model.wines.Count())
                    {
                        //var imagePath = $"~/assets/wines/{Model.wines[i * 3 + j].ID.ToString()}.jpg";
                        var webRootPath = ViewData["WebRootPath"].ToString();
                        var wineId = Model.wines[i * 3 + j].ID;
                        var imageDirectory = webRootPath + "/assets/wines";
                        var supportedExtensions = new[] { ".jpg", ".png", ".gif" }; // Các phần mở rộng bạn muốn kiểm tra
                        string imagePath = null;

                        foreach (var extension in supportedExtensions)
                        {
                            var potentialImagePath = imageDirectory + $"/{wineId}{extension}";
                            if (File.Exists(potentialImagePath))
                            {
                                imagePath = $"/assets/wines/{wineId}{extension}";
                                break;
                            }
                        }
                        <div class="wine-item col-3">
                            @if (imagePath != null)
                            {
                                <img src="@Url.Content(imagePath)" alt="Product Image" width="100%" />
                            }
                            else
                            {
                                <h1>Sản phẩm này chưa có ảnh</h1>
                            }
                            <h3>@Html.DisplayFor(model => model.wines[i * 3 + j].Name)</h3>
                            <p>Loại: @Html.DisplayFor(model => model.wines[i * 3 + j].CategoryName)</p>
                            <p>Giá: @Html.DisplayFor(model => model.wines[i * 3 + j].outputPrice)đ</p>
                        </div>
                    }
            </div>
        }
    </div>
</div>

